* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 80%;
  height: 100vh;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 1440px;
}

.hero {
  background: url(./images/your_verse_hero.jpg) 50% 100% no-repeat;
  min-height: 686px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.topNav {
  height: 36px;
  border-radius: 4px;
  max-width: 980px;
  margin-top: -8.5%;
  background: rgba(166, 166, 166, 1);
  background: -moz-linear-gradient(top, rgba(166, 166, 166, 1) 0%, rgba(125, 125, 125, 1) 50%, rgba(94, 94, 94, 1) 51%, rgba(94, 94, 94, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(166, 166, 166, 1)), color-stop(50%, rgba(125, 125, 125, 1)), color-stop(51%, rgba(94, 94, 94, 1)), color-stop(100%, rgba(94, 94, 94, 1)));
  background: -webkit-linear-gradient(top, rgba(166, 166, 166, 1) 0%, rgba(125, 125, 125, 1) 50%, rgba(94, 94, 94, 1) 51%, rgba(94, 94, 94, 1) 100%);
  background: -o-linear-gradient(top, rgba(166, 166, 166, 1) 0%, rgba(125, 125, 125, 1) 50%, rgba(94, 94, 94, 1) 51%, rgba(94, 94, 94, 1) 100%);
  background: -ms-linear-gradient(top, rgba(166, 166, 166, 1) 0%, rgba(125, 125, 125, 1) 50%, rgba(94, 94, 94, 1) 51%, rgba(94, 94, 94, 1) 100%);
  background: linear-gradient(to bottom, rgba(166, 166, 166, 1) 0%, rgba(125, 125, 125, 1) 50%, rgba(94, 94, 94, 1) 51%, rgba(94, 94, 94, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#a6a6a6', endColorstr='#5e5e5e', GradientType=0);
}

.topNav span {
  display: block;
  width: 100%;
  height: 36px;
  background: url(./images/globalnav_text.png) no-repeat 50% 0;
  background-position-x: 50%;
}

ul {
  display: table;
  float: left;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.topNav li {
  display: table-cell;
  height: 36px;
  width: 186px;
  text-decoration: none;
  border-width: 0 2px 0 1px;
  border-style: solid;
  -o-border-image: url(./images/base64.png) 0 2 0 1;
  -ms-border-image: url(./images/base64.png) 0 2 0 1;
  -moz-border-image: url(./images/base64.png) 0 2 0 1;
  -webkit-border-image: url(./images/base64.png) 0 2 0 1;
}

.ads ul {
  display: flex;
  width: 100%;
  height: 100%;
}

.ads li {
  height: 100%;
  width: 25%;
  list-style-type: none;
}

.ads img {
  width: 100%;
  padding: 1px;
}

#Colorful {
  background: url(./images/Forward.jpg) 50% 100% no-repeat;
  background-size: cover;
}

.siteMap li {
  list-style-type: none;
}

.topNav li:hover {
  background: rgba(0, 0, 0, 0.267);
}

.menuItem {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-radius: 4px 0 0 4px;
  display: block;
  float: none;
  text-decoration: none;
}

#Logo {
  background-position-y: 2px;
}

#Store {
  background-position-y: -27px;
}

#Mac {
  background-position-y: -57px;
}

#iPod {
  background-position-y: -87px;
}

#iPhone {
  background-position-y: -117px;
}

#iPad {
  background-position-y: -147px;
}

#iTunes {
  background-position-y: -177px;
}

#Support {
  background-position-y: -207px;
}

#Search {
  background-color: rgba(255, 255, 255, 0.02);
  border-color: #767676;
  color: white;
  height: 25px;
  padding: 2px 18px 1px 22px;
  position: absolute;
  border-radius: 12px;
  top: 5px;
  left: 2px;
  max-width: 103px;
}

.searchBox {
  position: relative;
}

.magnify {
  position: absolute;
  top: 13px;
  left: 8px;
  font-size: 0.8rem;
}

.heroText {
  width: 980px;
  margin-top: -6%;
}

.what {
  width: 980px;
  height: 104px;
  margin-bottom: -14px;
}

.everyone {
  width: 980px;
  height: 82px;
  margin-bottom: 15px;
}

.heroClick {
  position: relative;
  z-index: 10;
  overflow: hidden;
  padding-bottom: 10px;
  display: block;
  margin: 10px auto;
  text-align: center;
  height: 32px;
  width: 980px;
  background: url(./images/noLine.png);
}

.heroClick:hover {
  background: url(./images/Line.png);
}

.ads {
  width: 100%;
  min-height: 200px;
}

footer {
  width: 80%;
  min-height: 88px;
  display: flex;
}

.copy {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copy p {
  font-size: 0.8334em;
  margin-bottom: 5px;
}

.siteMap {
  width: 50%;
}

.siteMap ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.siteMap a {
  text-decoration: none;
  font-size: 0.8334em;
  color: #08c;
  padding-right: 3px;
  border-right: solid 1px;
}